<!--The content below is only a placeholder and can be replaced.-->
<!-- <nav>
  <a routerLink="/about" routerLinkActive="active">About</a>
  <a routerLink="/contact" routerLinkActive="active">Contact</a>
  <a routerLink="/login" routerLinkActive="active">Login</a>
  <a routerLink="/register" routerLinkActive="active">Register</a>
</nav>
<router-outlet></router-outlet> -->

<!-- <div class="layout-overflow">
  <div
    class="layout-canvas"
    [ngClass]="{'nav-open': navOpen, 'nav-closed': !navOpen}"
    [style.min-height]="minHeight"> -->

    <!-- HEADER -->
    <!-- <app-header (navToggled)="navToggledHandler($event)"></app-header> -->

    <!-- CONTENT -->
    <!-- <div id="layout-view" class="layout-view">
      <router-outlet></router-outlet>
    </div> -->

    <!-- FOOTER -->
    <!-- <app-footer></app-footer> -->

  <!-- </div> 
</div>  -->

<router-outlet></router-outlet>